@model NoteMarketPlace.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
   
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/admin_addAdmin.css" rel="stylesheet" />
    <link href="~/Content/footer_fixed.css" rel="stylesheet" />
    <link href="~/Content/admin_myprofile.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Add Administrator</title>
</head>

<body>
    <section id="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
            <a class="navbar-brand" href="/Home/Index">
                <img src="~/Content/imges/logo.png" alt="logo" class="img-fluid" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        @Html.ActionLink("DashBoard", "AdminDashBoard", "Home", null, new { @class = "nav-link " })

                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle nav-link" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Notes
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Notes Under Review", "NoteUnderReview", "Home", null, new { @class = "dropdown-item " })
                                @Html.ActionLink("Published Notes", "AdminPublishedNote", "Home", null, new { @class = "dropdown-item " })
                                @Html.ActionLink("Downloaded Notes", "AdminDownload", "Home", null, new { @class = "dropdown-item " })
                                @Html.ActionLink("Rejected Notes", "AdminRejectedNote", "Home", null, new { @class = "dropdown-item " })

                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Members", "AdminMember", "Home", null, new { @class = "nav-link " })


                    </li>


                    @if (ViewBag.Role == 3)
                    {
                        <li class="nav-item">

                            <div class="dropdown">
                                <button class="btn  dropdown-toggle nav-link " type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Setting
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @Html.ActionLink("Manage System Configuration", "ManageSystemConfi", "Home", null, new { @class = "dropdown-item " })
                                    @Html.ActionLink("Manage Administrator", "ManageAdmin", "Home", null, new { @class = "dropdown-item " })
                                    @Html.ActionLink("Manage Category", "ManageCategory", "Home", null, new { @class = "dropdown-item " })
                                    @Html.ActionLink("Manage Type", "ManageType", "Home", null, new { @class = "dropdown-item " })
                                    @Html.ActionLink("Manage Countries", "ManageCountry", "Home", null, new { @class = "dropdown-item " })

                                </div>
                            </div>

                        </li>


                    }


                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle nav-link nav-link-img" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <img src="~/Images/Admin/@ViewBag.ProfileUrl" alt="profile pic"
                                     class="img-fluid rounded-circle">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Update Profile", "AdminUpdateProfile", "Home", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("Change Password", "ResetPassword", "Account", null, new { @class = "dropdown-item" })
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-logout">Logout</a>
                                    }
                                }


                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link nav-login text-center">Logout</a>
                            }
                        }


                    </li>
                </ul>
            </div>
        </nav>




    </section>

    <section id="profile-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Add Administrator</h3>
                    <form method="post">
                        @using (Html.BeginForm("AddAdmin", "Home", FormMethod.Post))
                        {


                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="fname">First Name*</label>
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your First Name", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="lname">Last Name*</label>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Last Name", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="email">Email*</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "Enter your Email", required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    <span class="text-danger">@ViewBag.EmailError</span>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-md-6">
                                    <label for="phno">Phone Number</label>
                                    <div class="form-row">
                                        <div class="col-md-2">
                                            @Html.DropDownListFor(m => m.CountryCode, ViewBag.PhoneCode as SelectList, "Select Country Code", new { @class = "form-control type", required = "required" })
                                            @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.phonenumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Phone Number", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.phonenumber, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <button class="btn btn-submit" type="submit">SUBMIT</button>

                            </div>
                        }
                    </form>
                </div>

            </div>

        </div>
    </section>


    <footer>
        <hr>

        <div class="footer-flex">
            <div class="text-left">
                <p>version : 1.1.24</p>

            </div>
            <div class="  text-right footer-icon">
                <p> copyright <span>&#169</span> TatvaSoft All right reserved</p>
            </div>

        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/90013f5e15.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/main.js"></script>

</body>

</html>