
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="~/Content/footer_logo.css" rel="stylesheet" />
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/user_profile.css" rel="stylesheet" />

    <link href="~/Content/faq.css" rel="stylesheet" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FAQ</title>
</head>
<body>
    <section id="header">
        <div class="img-container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
                <a class="navbar-brand" href="#"><img src="~/Content/imges/logo.png" alt="logo" class="img-fluid"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            @Html.ActionLink("Search Note", "NoteListing", "Note", new { area = "" }, new { @class = "nav-link list-link " })

                        </li>
                        <li class="nav-item">

                            @Html.ActionLink("Sell Your Notes Note", "SellNote", "Home", new { area = "" }, new { @class = "nav-link list-link " })

                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, new { @class = "nav-link list-link active-link" })

                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link list-link" })

                        </li>


                        @if (Request.IsAuthenticated)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Buyer Request", "BuyerRequest", "Home", new { area = "" }, new { @class = "nav-link list-link" })

                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <button class="btn  dropdown-toggle nav-link nav-link-img" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <img src="~/Content/imges/person_1.jpg" alt="profile pic"
                                             class="img-fluid rounded-circle">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @Html.ActionLink("My Profile", "UserProfile", "Home", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("My Download", "Download", "Home", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("My Sold Note", "SoldNote", "Home", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("My Rejected Note", "RejectedNote", "Home", null, new { @class = "dropdown-item" })

                                        @Html.ActionLink("Change Password", "ResetPassword", "Account", null, new { @class = "dropdown-item" })

                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-logout">Logout</a>
                                            }
                                        }

                                    </div>
                                </div>
                            </li>
                            <li class="nav-item ">
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link nav-login text-center">Logout</a>
                                    }
                                }


                            </li>
                        }
                        else
                        {
                            <li class="nav-item ">
                                @Html.ActionLink("LogIn", "Login", "Account", new { area = "" }, new { @class = "nav-link nav-login text-center" })

                            </li>
                        }

                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="user-heading text-center">
                            <h3>Frequently Asked Questions</h3>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </section>

    <section id="gq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">General Questions</h3>

                </div>

                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            What is Notes Marketplace?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link toggle-sign" type="button" id="btn-click" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <i class="fas fa-plus sign"></i>
                                            </button>
                                        </div>

                                    </div>

                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Notes Marketplace is an online marketplace for university students to buy and sell their course notes.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Where did Notes Marketplace start?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link collapsed toggle-sign-1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <i class="fas fa-plus "></i>
                                            </button>
                                        </div>

                                    </div>



                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    What started out as four friends chucking around an idea in Ahmedabad ended up turning into an
                                    earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Why should I buy notes?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link collapsed toggle-sign-2" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>

                                    </div>

                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    The notes on our site are incredibly useful as an educational tool when used correctly. They effectively
                                    demonstrate the techniques that top students employ in order to receive top marks. They also
                                    summaries the course in a concise format and show what that student believed were the most
                                    important elements of the course. Learn from the best.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




            </div>

        </div>
    </section>

    <section id="uq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Uploaders</h3>

                </div>

                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingFoure">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Why should I upload now?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link toggle-sign-3" type="button" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="true" aria-controls="collapseFoure">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>

                                    </div>

                                </h2>
                            </div>

                            <div id="collapseFoure" class="collapse " aria-labelledby="headingFoure" data-parent="#accordionExample">
                                <div class="card-body">
                                    To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are
                                    available for purchase the instant they are approved, which means that you could be missing potential
                                    sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best
                                    time to upload notes is always today.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            What can't I sell?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link collapsed toggle-sign-4" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>

                                    </div>

                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    We won't approve materials that have been created by your university or another third party. We also
                                    do not accept assignments, essays, practical’s or take-home exams. We love notes though.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>


    </section>

    <section id="dq">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title">Downloaders</h3>

                </div>

                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            How do I buy notes?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link toggle-sign-5" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>

                                    </div>

                                </h2>
                            </div>

                            <div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page.
                                    You can then filter results by university, category, course information etc. To purchase, go to detail page
                                    of note and click on download button. If notes are free to download – it will download over the browser
                                    and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for
                                    actual download.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSevan">
                                <h2 class="mb-0 faq-question">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Will downloading notes guarantee I improve my grades?
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-link collapsed toggle-sign-6" type="button" data-toggle="collapse" data-target="#collapseSevan" aria-expanded="false" aria-controls="collapseSevan">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>

                                </h2>
                            </div>
                            <div id="collapseSevan" class="collapse" aria-labelledby="headingSevan" data-parent="#accordionExample">
                                <div class="card-body">
                                    How long is a piece of string? However, 90% of students who purchased notes through our site said that
                                    doing so improved their grades.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>


    </section>

    <footer>
        <hr>

        <div class="footer-flex">
            <div class="text-left">

                <p> copyright <span>&#169</span> TatvaSoft All right reserved</p>
            </div>
            <div class="  text-right footer-icon">
                <a href="#" class="facebook"> <img src="~/Content/fonts/facebook.png" alt="facebook" class="img-fluid" /></a>

                <a href="#" class="twitter"> <img src="~/Content/fonts/twitter.png" alt="twitter" class="img-fluid" /></a>
                <a href="#" class="linkedin">  <img src="~/Content/fonts/linkedin.png" alt="linkedin" class="img-fluid" /></a>

            </div>

        </div>


    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/90013f5e15.js" crossorigin="anonymous"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/faq.js"></script>
</body>

</html>
