@model IEnumerable<NoteMarketPlace.Download>

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="~/Content/jquery-dataTable.css" rel="stylesheet" />
    <link href="~/Content/header.css" rel="stylesheet" />
    <link href="~/Content/footer_logo.css" rel="stylesheet">
    <link href="~/Content/myDownload.css" rel="stylesheet">
    <link href="~/Content/review.css" rel="stylesheet">
    <link href="~/Content/img.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        a.paginate_button {
            color: #000000 !important;
            font-family: "Open Sans",sans-serif;
            font-weight: 400 !important;
            font-size: 14px !important;
            border: none !important;
        }



            a.paginate_button.current {
                color: #fff !important;
                background: #6255a5 !important;
                font-family: "Open Sans",sans-serif;
                font-weight: 400 !important;
                font-size: 14px !important;
                border-radius: 50% !important;
            }

            a.paginate_button:hover {
                background: none !important;
            }

            a.paginate_button.current :hover {
                background: #6255a5 !important;
            }

        #myTable_paginate {
            text-align: center !important;
        }
    </style>
    <title>My Sold Note</title>
</head>

<body>
    <section id="header">

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
            <a class="navbar-brand" href="#"><img src="~/Content/imges/logo.png" alt="logo" class="img-fluid"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        @Html.ActionLink("Search Note", "NoteListing", "Note", new { area = "" }, new { @class = "nav-link list-link " })

                    </li>
                    <li class="nav-item">

                        @Html.ActionLink("Sell Your Notes Note", "SellNote", "Home", new { area = "" }, new { @class = "nav-link list-link " })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Buyer Request", "BuyerRequest", "Home", new { area = "" }, new { @class = "nav-link list-link" })

                    </li>

                    <li class="nav-item">
                        @Html.ActionLink("FAQ", "FAQ", "Home", new { area = "" }, new { @class = "nav-link list-link active-link" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact Us", "Contact", "Home", new { area = "" }, new { @class = "nav-link list-link" })

                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle nav-link nav-link-img" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <img src="~/Content/imges/person_1.jpg" alt="profile pic"
                                     class="img-fluid rounded-circle">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("My Profile", "UserProfile", "Home", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("My Download", "Download", "Home", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("My Sold Note", "SoldNote", "Home", null, new { @class = "dropdown-item" })
                                @Html.ActionLink("My Rejected Note", "RejectedNote", "Home", null, new { @class = "dropdown-item" })

                                @Html.ActionLink("Change Password", "ResetPassword", "Account", null, new { @class = "dropdown-item" })
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-logout">Logout</a>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link nav-login text-center">Logout</a>
                            }
                        }


                    </li>

                </ul>
            </div>
        </nav>




    </section>

    <section id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h4 class="download-title">My Sold Notes</h4>

                </div>
                <div class="col-md-6 text-right">
                    <form>
                        <div class="input-group md-form form-sm form-1 pl-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text purple lighten-3" id="basic-text1">

                                    <img src="~/Content/fonts/search-icon.png" alt="serach" aria-hidden="true">
                                </span>
                            </div>
                            <input class="form-control my-0 py-1 custom-input" type="text" id="myCustomSearchBox" placeholder="Search" aria-label="Search">
                            <button class="btn ser_btn">SEARCH</button>
                        </div>


                    </form>

                </div>

            </div>

        </div>
        <div class="container ">
            <div class="row table-row-scroll">
                <div class="col-md-12">

                    <table class="table table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th scope="col">SR. NO.</th>
                                <th scope="col">NOTE TITLE</th>
                                <th scope="col">CATAGORY</th>

                                <th scope="col">SELLER</th>
                                <th scope="col">SELLTYPE</th>
                                <th scope="col">PRICE</th>
                                <th scope="col">DOWNLOADED DATE/TIME</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    if(item.IsAttachmentDownloaded == true)
                                    {

                                    
                                    <tr>
                                        <td>@(i++)</td>
                                        <td class="note-title">@Html.DisplayFor(model => item.NoteTitle)</td>
                                        <td>@Html.DisplayFor(model => item.NoteCategory)</td>
                                        <td>@Html.DisplayFor(model => item.User1.Email)</td>
                                        @if (item.IsPaid == true)
                                        {
                                            <td>paid</td>
                                            <td>$@Html.DisplayFor(model => item.PurchasedPrice)</td>
                                        }
                                        else
                                        {
                                            <td>Free</td>
                                            <td>$0</td>
                                        }


                                        <td>@Html.DisplayFor(model => item.AttachmentDownloadedDate)</td>
                                        <td><img src="~/Content/fonts/eye.png" alt="eye" class="img-eye"></td>
                                        <td>

                                            <div class="dropdown_1">
                                                <button class="dropbtn_1"><img src="~/Content/fonts/dots.png" alt="dot"></button>
                                                <div class="dropdown-content_1">
                                                    <a href="#">Download</a>



                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>



        </div>
    </section>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLongTitle">Add Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="comment">Comment*</label>
                                    <textarea class="form-control" id="comment" rows="3"></textarea>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-left">

                    <button type="button" class="btn ">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <hr>

        <div class="footer-flex">
            <div class="text-left">

                <p> copyright <span>&#169</span> TatvaSoft All right reserved</p>
            </div>
            <div class="  text-right footer-icon">
                <a href="#" class="facebook"> <img src="~/Content/fonts/facebook.png" alt="facebook" class="img-fluid" /></a>

                <a href="#" class="twitter"> <img src="~/Content/fonts/twitter.png" alt="twitter" class="img-fluid" /></a>
                <a href="#" class="linkedin">  <img src="~/Content/fonts/linkedin.png" alt="linkedin" class="img-fluid" /></a>
            </div>


        </div>


    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/90013f5e15.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        dTable = $('#myTable').DataTable({

            "language": {
                "paginate": {
                    "next": '<span>&raquo;</span>',
                    "previous": '<span>&laquo;</span>'
                }
            },


            "bLengthChange": false, // this gives option for changing the number of records shown in the UI table
            "lengthMenu": [5], // 5 records will be shown in the table

            "dom": "lrtip", //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
            "pagingType": "simple_numbers"

        });

        $('#myCustomSearchBox').keyup(function () {
            dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
        })
        $(".dataTables_info").hide();


    </script>

    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/review.js"></script>



</body>

</html>